body,
.intro-header {
    background: url(../assets/0.gif) repeat center center;
    background-size: repeat;
}
#t1 {
color: rgba(255,255,255,.3);
font-size: 70px;
background: #transparent;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  position: absolute;
  top: 5m;
  left: 1m;
  width: 720px;
  height: auto;
    margin: auto;
  padding: 1px;
  -webkit-animation: text-flicker-in-glow 3s linear both;
            animation: text-flicker-in-glow 3s linear both;
}

#a1 {
color: rgba(255,255,255,.3);
font-size: 30px;
background: #transparent;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  position: absolute;
  top: 3em;
  left: 3em;
  width: 720px;
  height: auto;
    margin: auto;
  padding: 1px;ext-flicker-in-glow 3s linear both;
  animation: text-flicker-in-glow 3s linear both;
}
#a2 {
    color: rgba(255,255,255,.3);
    font-size: 30px;
    background: #transparent;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
      position: absolute;
      top: 4em;
      left: 3em;
      width: 720px;
      height: auto;
        margin: auto;
      padding: 1px;ext-flicker-in-glow 3s linear both;
      animation: text-flicker-in-glow 3s linear both;
    }
    #a3 {
        color: rgba(255,255,255,.3);
        font-size: 30px;
        background: #transparent;
        text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
          position: absolute;
          top: 5em;
          left: 3em;
          width: 720px;
          height: auto;
            margin: auto;
          padding: 1px;ext-flicker-in-glow 3s linear both;
          animation: text-flicker-in-glow 3s linear both;
        }
        #a4 {
            color: rgba(255,255,255,.3);
            font-size: 30px;
            background: #transparent;
            text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
              position: absolute;
              top: 6em;
              left: 3em;
              width: 720px;
              height: auto;
                margin: auto;
              padding: 1px;ext-flicker-in-glow 3s linear both;
              animation: text-flicker-in-glow 3s linear both;
            }
            #a5 {
                color: rgba(255,255,255,.3);
                font-size: 30px;
                background: #transparent;
                text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
                  position: absolute;
                  top: 7em;
                  left: 3em;
                  width: 720px;
                  height: auto;
                    margin: auto;
                  padding: 1px;ext-flicker-in-glow 3s linear both;
                  animation: text-flicker-in-glow 3s linear both;
                }
                #a6 {
                    color: rgba(255,255,255,.3);
                    font-size: 30px;
                    background: #transparent;
                    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
                      position: absolute;
                      top: 8em;
                      left: 3em;
                      width: 720px;
                      height: auto;
                        margin: auto;
                      padding: 1px;ext-flicker-in-glow 3s linear both;
                      animation: text-flicker-in-glow 3s linear both;
                    }
                    #a7 {
                        color: rgba(255,255,255,.3);
                        font-size: 30px;
                        background: #transparent;
                        text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
                          position: absolute;
                          top: 9em;
                          left: 3em;
                          width: 720px;
                          height: auto;
                            margin: auto;
                          padding: 1px;ext-flicker-in-glow 3s linear both;
                          animation: text-flicker-in-glow 3s linear both;
                        }
                        #a8 {
                            color: rgba(255,255,255,.3);
                            font-size: 30px;
                            background: #transparent;
                            text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
                              position: absolute;
                              top: 10em;
                              left: 3em;
                              width: 720px;
                              height: auto;
                                margin: auto;
                              padding: 1px;ext-flicker-in-glow 3s linear both;
                              animation: text-flicker-in-glow 3s linear both;
                            }
                            #a9 {
                                color: rgba(255,255,255,.3);
                                font-size: 30px;
                                background: #transparent;
                                text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
                                  position: absolute;
                                  top: 11em;
                                  left: 3em;
                                  width: 720px;
                                  height: auto;
                                    margin: auto;
                                  padding: 1px;ext-flicker-in-glow 3s linear both;
                                  animation: text-flicker-in-glow 3s linear both;
                                }


#back {
  color: rgba(255,255,255,.3);
  font-size: 30px;
  background: #transparent;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    position: absolute;
    top: 14em;
    left: 3em;
    width: 720px;
    height: auto;
      margin: auto;
    padding: 1px;
    -webkit-animation: text-flicker-in-glow 3s linear both;
    animation: text-flicker-in-glow 3s linear both;
  }
a {
  color: rgba(255,255,255,.3);
  text-decoration: none;

}
a:hover {
  text-shadow: 0px 0px 15px #000000;

  filter: dropshadow(color=#000000, offx=2, offy=2);
}
* {
  font-family: "Courier New", Courier, monospace
}

::selection {
  background: rgba(0,135,255,0.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,135,255,0.1); /* Gecko Browsers */
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-20 21:58:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
